.bar{
    width: 70vw !important;
    height: 500px !important;
}
.pie{
    width: 70vw !important;
    height: 1000px !important;
}
.line{
    width: 80vw !important;
    height: 1000px !important;
}
/* .charts{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    
} */